@using Blog.Models;
<table class="table">
    <thead>
        <tr>
            <th>
                编号
            </th>
            <th>
                相册名
            </th>
            <th>
                备注
            </th>
            <th>
                添加时间
            </th>
            <th>
                评论量
            </th>
            <th>
                点赞量
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            List<Phabum> pl = (List<Phabum>)ViewData["Phabum"];
            if (pl.Count() == 0)
            {
                <tr style="text-align:center;"><td>还没有添加相册</td></tr>
            }
            else
            {
                foreach (var lo in pl)
                {
                    <tr id="@lo.phid">
                        <td>
                            @lo.phid
                        </td>
                        <td>
                            @lo.phtitle
                        </td>

                        <td>
                            @lo.phback
                        </td>
                        <td>
                            @lo.phdate
                        </td>
                        <td>
                            @lo.phlikes
                        </td>
                        <td>
                            @lo.phliang
                        </td>
                        <td>
                            <button class="xaingqing" name="@lo.phid">详情</button>
                        </td>
                        <td>
                            <button class="remove" name="@lo.phid">删除</button>
                        </td>
                    </tr>
                }

            }
        }


    </tbody>
</table>
<script src="~/scripts/easyui/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
      
        //删除
        $(".remove").click(function () {
            var k = this.getAttribute("name");
            var r = confirm("将删除关于本相册的所有信息！")
            if (r == true) {
                $.post("phremoe", { id: k }, function (date) {
                    if (date.type == 1) {
                        $("#" + k).hide();
                    } else {
                        alert(date.date);
                    }
                }, "json");
            }

        })      
        //详情
        $(".xaingqing").click(function () {
            var k = this.getAttribute("name");

            location.href = "/Blogback/photoimg?id=" + k;
        })


    })
</script>
