
@{
    ViewBag.Title = "shares";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@using Blog.Models;
<script src="~/scripts/easyui/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        //发送评论
        $("#disint").click(function () {
            var id = this.getAttribute("name");
            var text = $("#phototext").val();
            if (text != "" && text != null) {
                $.post("phcsadd", { idd: id, count: text }, function (data) {
                    if (data.type == 1) {

                        location.reload();

                    } else { alert(data.data); }


                }, "json")
            } else {
                alert("评论内容不能为空")
            }

        })
    })
</script>
<style type="text/css">
    img {
        margin-top: 10px;
    }
</style>
<div class="row clearfix">
    @{
        photoimg pimgs = (photoimg)ViewData["pimgd"];
        <div class="col-md-12 column">
            <h2 style="color:aliceblue;">
                @pimgs.phabums.phtitle
            </h2>
            <h4 style="color:aliceblue;">@pimgs.phabums.phdate</h4>
            <pre style="white-space: pre-wrap!important;word-wrap: break-word!important;*white-space:normal!important;">
@pimgs.phabums.phback
        </pre>


        </div>

        <div class="col-md-12 column">
            <div class="row">
                @{
                    if (pimgs.pimg.Count() > 0)
                    {

                        foreach (var item in pimgs.pimg)
                        {
                            <div class="col-md-3" style="cursor:pointer;" data-toggle="modal" data-target="#myimg">
                                <div class="thumbnail">
                                    <img alt="300x200" src="~/images/@pimgs.phabums.phtitle/@item.photos" />
                                </div>
                            </div>
                        }
                        //图片模态框

                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myimg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                                        <h4 class="modal-title" id="myModalLabel">@pimgs.phabums.phtitle</h4>

                                    </div>
                                    <div class="modal-body" style="height:300px;">
                                        <!---图片浏览-->
                                        <div id="myCarousel" class="carousel slide" style="width:100%;height:100%;">
                                            <!-- 轮播（Carousel）指标 -->
                                            <ol class="carousel-indicators">
                                                @{
                                                    for (int i = 0; i < pimgs.pimg.Count(); i++)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <li data-target="#myCarousel" class="active" data-slide-to="@i"></li>
                                                        }
                                                        else
                                                        {
                                                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                                                        }

                                                    }
                                                }
                                            </ol>
                                            <!-- 轮播（Carousel）项目 -->
                                            <div class="carousel-inner">

                                                @{
                                                    for (int i = 0; i < pimgs.pimg.Count(); i++)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <div class="item active">
                                                                <img src="~/images/@pimgs.phabums.phtitle/@pimgs.pimg[i].photos" style="width:100%;height:260px;" alt="First slide">
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="item">
                                                                <img src="~/images/@pimgs.phabums.phtitle/@pimgs.pimg[i].photos" style="width:100%;height:260px;" alt="First slide">
                                                            </div>
                                                        }

                                                    }

                                                }


                                            </div>
                                            <!-- 轮播（Carousel）导航 -->
                                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>


                                    </div>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-md-4">
                                                            <div class="thumbnail">
                                                                <h2>空</h2>
                                                                <h3>请联系后台人员添加相片</h3>
                                                            </div>
                                                        </div>
                                                    }
                                                   
                                                    }
                



            </div>
            <!--相册评论内容-->
            <h2 style="color:azure;">评论</h2>
            <textarea class="form-control" id="phototext"></textarea>
            <br />
            <button type="button" id="disint" name="@pimgs.phabums.phid" class="btn btn-info">发送</button>
            @{
                List<imgsc> imgpc = (List<imgsc>)ViewData["pucimg"];
                if (imgpc.Count() != 0)
                {
                    foreach (var item in imgpc)
                    {
                        <div class="media well" style="background-color:rgba(0, 0, 0, 0.48);color:azure;">
                            <a href="#" class="pull-left"><img src="~/images/users/@item.us.uspic" class="media-object img-circle" style="width:60px;height:60px;" alt='' /></a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    @item.us.usname
                                  

                                </h4>
                                <div>@item.ph.pcdate</div>
                                @item.ph.pccount
                            </div>
                        </div>
                    }

                }
                else
                {
                    <h1>还没有进行评论哦</h1>
                }

            }
        </div>
    }


</div>
